
<h3>
  <%= link_to @comment.post.title, post_url(@comment.post) %>
</h3>
<p>
  Author: <%= link_to @comment.author.username, user_url(@comment.author) %> <%= @comment.created_at %>
</p>
<hr>
<h5> <%= @comment.score %> </h5>
<p>
  <form action="<%= comment_upvote_url(@comment.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <input type="hidden" name="vote[votable_id]" value="<%= @comment.id %>">
    <input type="hidden" name="vote[votable_type]" value="Commment">
    <input type="submit" value="/\">
  </form>
  <form action="<%= comment_downvote_url(@comment.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <input type="hidden" name="vote[votable_id]" value="<%= @comment.id %>">
    <input type="hidden" name="vote[votable_type]" value="Comment">
    <input type="submit" value="\/">
  </form>
<p>
  <%= @comment.content %>
</p>
<hr>
<h5>Comments</h5>
<ul>
  <% @all_comments[@comment.id].each do |comment| %>
    <%= render "children", comment: comment, all_comments: @all_comments %>
  <% end %>
</ul>
<% if current_user %>
  <%= render "form", comment: @comment %>
<% end %>
