<h5> <%= @post.score %> </h5>
<h3>
  <form action="<%= post_upvote_url(@post.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>">
    <input type="hidden" name="vote[votable_type]" value="Post">
    <input type="submit" value="/\">
  </form>
  <form action="<%= post_downvote_url(@post.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>">
    <input type="hidden" name="vote[votable_type]" value="Post">
    <input type="submit" value="\/">
  </form>
  <%= link_to @post.title, "http://" + @post.url %>
</h3>
<p>
  Author: <%= link_to @post.author.username, user_url(@post.author) %>
</p>
<hr>
<p>
  <%= @post.content %>
</p>
<hr>
<h5>Comments</h5>
<ul>
  <% @all_comments[nil].sort_by { |comment| comment.score }.reverse.each do |comment| %>
    <%= render 'comments/children', comment: comment, all_comments: @all_comments %>
  <% end %>
</ul>
<% if current_user %>
  <%= button_to "Create a comment", new_post_comment_url(@post), method: "get" %>
<% end %>
<% if current_user.id == @post.author_id %>
  <%= button_to "Edit post", edit_post_url(@post), method: "get" %>
  <%= button_to "Delete post", post_url(@post), method: "delete" %>
<% end %>
