<h3> <%= link_to @post.sub.title, sub_url(@post.sub) %> </h3>
<h5> Moderator: <%= link_to @post.sub.moderator.username, user_url(@post.sub.moderator) %> </h5>
<hr>
<p>
  <%= link_to @post.title, @post.url %>
</p>
<p>
  Author: <%= link_to @post.author.username, user_url(@post.author) %>
</p>
<hr>
<p>
  <%= @post.content %>
</p>
<hr>

<% if current_user.id == @post.author_id %>
  <%= button_to "Edit post", edit_post_url(@post), method: "get" %>
<% end %>
<% if current_user.id == @post.author_id || current_user.id == @post.sub.moderator_id %>
  <%= button_to "Delete post", post_url(@post), method: "delete" %>
<% end %>
